* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  padding: 5px;
}

a {
  text-decoration: none;
}

main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main img {
  width: 40vh;
  height: auto;
}


footer {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  padding: 5px;
}

footer section a img {
  width: auto;
  height: 5vh;
}